@model SportGroundView.Models.SportSection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SportSection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoachesNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoachesNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorsMaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorsMaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SportType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
