@model IEnumerable<SportGroundView.Models.SportSection>

@{
    ViewData["Title"] = "Index";
}

<h1>Sport sections page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorsMaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorsMaxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
